@import "tailwindcss";
@plugin "daisyui";

/*FONTS*/
@font-face {
    font-family: 'Tropiline Normal';
    src: url('/src/assets/fonts/tropiline/Tropiline-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tropiline Bold';
    src: url('/src/assets/fonts/tropiline/Tropiline-Bold.otf') format('opentype');
    font-weight: Bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Tropiline SemiBold';
    src: url('/src/assets/fonts/tropiline/Tropiline-SemiBold.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Tropiline LogoOnly';
    src: url('/src/assets/fonts/tropiline/Tropiline-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

.logo-text {
    font-family: 'Tropiline LogoOnly';
    color: #306067;
}

/*GENERAL*/
body {
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;

    /*NAVBAR VARIABLES*/
    --c-glass: #bbbbbc;
    --c-light: #fff;
    --c-dark: #000;
    --c-bg: #e8e8e9;
    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;
}
h1{
    font-family: 'Tropiline Bold';
}
h2{
    font-family: 'Tropiline SemiBold';
}
h3, h4, h5, h6{
    font-family: 'Tropiline Normal';
}
main p{
    color: #2A4043;
}
a.boton-header{
    font-family: 'Tropiline Normal';
    font-weight: lighter;
}
.navbar-style{
    position: absolute;
    top: 40px;
    display: flex;
    align-items: center;
    gap: 17vw;
    box-sizing: border-box;
    padding: 0.7vw 1vw;
    margin: 0 auto;
    border: none;
    border-radius: 99em;
    font-size: var(--fz);
    background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
    backdrop-filter: blur(8px) url(.navbar-style) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: inset 0 0 0 1px
        color-mix(
            in srgb,
            var(--c-light) calc(var(--glass-reflex-light) * 10%),
            transparent
        ),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light)
            calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light)
            calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light)
            calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
            transparent
        ),
        inset -1.5px 2.5px 0px -2px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
            transparent
        ),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark)
            calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
            transparent
        ),
        0px 1px 5px 0px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
            transparent
        ),
        0px 6px 16px 0px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
            transparent
        );
    transition: background-color 400ms cubic-bezier(1, 0, 0.4, 1),
        box-shadow 400ms cubic-bezier(1, 0, 0.4, 1);
}
.glass{
    background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
    backdrop-filter: blur(8px) url(.navbar-style) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow: inset 0 0 0 1px
        color-mix(
            in srgb,
            var(--c-light) calc(var(--glass-reflex-light) * 10%),
            transparent
        ),
        inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light)
            calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light)
            calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light)
            calc(var(--glass-reflex-light) * 60%), transparent),
        inset -0.3px -1px 4px 0px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
            transparent
        ),
        inset -1.5px 2.5px 0px -2px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
            transparent
        ),
        inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark)
            calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
            transparent
        ),
        0px 1px 5px 0px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
            transparent
        ),
        0px 6px 16px 0px
        color-mix(
            in srgb,
            var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
            transparent
        );
    transition: background-color 400ms cubic-bezier(1, 0, 0.4, 1),
        box-shadow 400ms cubic-bezier(1, 0, 0.4, 1);
}
.bg-gradiente {
    -webkit-mask-image: -webkit-gradient(linear, center 85%, center bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.deco1{
    position: absolute;
    z-index: -1;
    right: -42vw;
    top: 42vw;
}
.deco2{
    position: absolute;
    z-index: -1;
    left: -49vw;
    top: 102vw;
}